UPDATE_PORT=5300
PUBLIC_PORT=5400
CRON_PORT=5500
BACK_PORT=5600
PORT=5700

LOG_LEVEL='debug'
CRONTAB_APPLY_DEBOUNCE_MS=500
CRON_STATUS_BATCH_FLUSH_MS=200
CRON_LOG_OFFSET_CACHE_TTL_MS=5000
CRON_MANUAL_RUN_USE_SCHEDULE=true

SQLITE_JOURNAL_MODE='WAL'
SQLITE_SYNCHRONOUS='NORMAL'
SQLITE_BUSY_TIMEOUT_MS=5000
SQLITE_CACHE_SIZE=-16000

SECRET='whyour'

QINIU_AK=''
QINIU_SK=''
QINIU_SCOPE=''
TEMP=''
